
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/BackstageView.cshtml";
}
@using _201817380227易炽昆.Models
@{
    List<RequestHouse> list = ViewBag.list;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">首页</a></li>
        <li class="breadcrumb-item"><a href="#">求租信息</a></li>
        <li class="breadcrumb-item active" aria-current="page">求租信息管理</li>
    </ol>
</nav>
<div class="grid">
    <form action="/RequestHouse/Index">
        <div class="form-group form-inline" style="width:500px;margin-left:30%;margin-top:1%;">
            <label style="font-size:18px">搜索：</label>
            <input type="text" name="Position" style="width:200px" class="form-control" placeholder="请输入" />
            <input type="submit" value="搜 索" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a href="/RequestHouse/AddMessage" class="btn btn-primary">添加求租信息</a>
    </div>
</div>

<br />
<table class="table table-hover" border="1" style="text-align:center;width:98%;margin-left:1%;">
    <tr>
        <th>客户名</th>
        <th>位置</th>
        <th>电话</th>
        <th>性别</th>
        <th>年龄</th>
        <th>操作</th>
    </tr>
    @foreach (var item in list)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Position</td>
            <td>@item.Phone</td>
            <td>
                @if (item.ReqSex == null)
                {
                    @:保密
                }
                else
                {
                    @item.ReqSex
                }
            </td>
            <td>
                @if (item.ReqAge == null)
                {
                    @:保密
                }
                else
                {
                    @item.ReqAge
                }
            </td>
            <td>
                <a href="#" class="btn btn-danger">删除</a>
            </td>
        </tr>
    }
</table>
