
@{
    ViewBag.Title = "SingleSee";
    Layout = "~/Views/BackstageView.cshtml";
}
@using _201817380227易炽昆.Models
@{
    Lease lease = ViewBag.lease;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/BackStage/Index">首页</a></li>
        <li class="breadcrumb-item"><a href="#">出租房信息</a></li>
        <li class="breadcrumb-item"><a href="/LeaseHouse/SingleLease">单人租房信息</a></li>
        <li class="breadcrumb-item active" aria-current="page">查看信息</li>
    </ol>
</nav>
<div style="width:80%;margin-left:10%;margin-top:6%;">
    <div class="form-group row">
        <label for="Position" class="col-sm-2 col-form-label">位置：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" readonly value="@lease.LeaseHouse.Position" id="Position" name="Position">
        </div>
    </div>
    <div class="form-group row">
        <label for="Area" class="col-sm-2 col-form-label">面积：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" readonly value="@lease.LeaseHouse.Area" id="Area" name="Area">
        </div>
    </div>
    <div class="form-group row">
        <label for="Price" class="col-sm-2 col-form-label">价格（月）：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" readonly value="@lease.LeaseHouse.Price" id="Price" name="Price">
        </div>
    </div>
    <div class="form-group row">
        <label for="HouseType" class="col-sm-2 col-form-label">类型：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" readonly value="@lease.LeaseHouse.HouseType" id="HouseType" name="HouseType">
        </div>
    </div>
    <div class="form-group row">
        <label for="StartTime" class="col-sm-2 col-form-label">入住时间：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" readonly value="@lease.StartTime" id="StartTime" name="StartTime">
        </div>
    </div>
    <div class="form-group row">
        <label for="EndTime" class="col-sm-2 col-form-label">到期时间：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" readonly value="@lease.EndTime" id="EndTime" name="EndTime">
        </div>
    </div>
    <div class="form-group row">
        <label for="UserName" class="col-sm-2 col-form-label">客户：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" readonly value="@lease.User.UserName" id="UserName" name="UserName">
        </div>
    </div>
    <div class="form-group row">
        <label for="UserPhone" class="col-sm-2 col-form-label">客户电话：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" readonly value="@lease.User.UserPhone" id="UserPhone" name="UserPhone">
        </div>
    </div>
    <div class="form-group row">
        <label for="AdminName" class="col-sm-2 col-form-label">中介人：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" readonly value="@lease.Admin.AdminName" id="AdminName" name="AdminName">
        </div>
    </div>
    <div class="form-group row">
        <label for="AdminPhone" class="col-sm-2 col-form-label">中介电话：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" readonly value="@lease.Admin.AdminPhone" id="AdminPhone" name="AdminPhone">
        </div>
    </div>
    <a href="javascript:history.back(-1)" class="btn btn-info" style="width:200px;">返回</a>
</div>

