
@{
    ViewBag.Title = "LeaseHouseMsg";
    Layout = "~/Views/UITemplate.cshtml";
}

@using _201817380227易炽昆.Models
@{
    HomeDBEntities db = new HomeDBEntities();
    LeaseHouse leaseHouse = ViewBag.leaseHouse;
    List<Picture> pic = db.Picture.Where(p => p.LeaseID == leaseHouse.LeaseID).ToList();
}
<script src="~/Scripts/jquery.min.js"></script>
<style>
    .prosum_box {
        width: 1188px;
        border: solid 1px #ddd;
        background: #ebebeb;
        overflow: hidden;
        margin: 0 auto 20px;
        border-radius: 10px;
    }

        .prosum_box .prosum_left {
            margin: 20px;
            overflow: hidden;
            width: 684px;
            float: left;
        }

            .prosum_box .prosum_left .big_img {
                width: 570px;
                height: 340px;
            }

            .prosum_box .prosum_left .little_img img {
                width: 110px;
                height: 70px;
                opacity: 0.6;
            }

                .prosum_box .prosum_left .little_img img:hover {
                    opacity: 1.0;
                }

            .prosum_box .prosum_left .cur_img img {
                opacity: 1.0;
            }

            .prosum_box .prosum_left .up_img,
            .prosum_box .prosum_left .down_img {
                width: 110px;
                height: 20px;
                background: #333;
            }

            .prosum_box .prosum_left .up_img {
                background: url("../images/arrows.jpg") no-repeat;
                background-position: 0px -20px;
            }

            .prosum_box .prosum_left .up_img_disable {
                background-position: 0px 0px;
            }

            .prosum_box .prosum_left .down_img {
                background: url("../images/arrows.jpg") no-repeat;
                background-position: 0px -60px;
            }

            .prosum_box .prosum_left .down_img_disable {
                background-position: 0px -40px;
            }

            .prosum_box .prosum_left dt {
                float: left;
                margin-right: 4px;
            }

            .prosum_box .prosum_left dd a {
                display: block;
                margin-bottom: 4px;
            }

        .prosum_box .prosum_right {
            float: left;
            width: 462px;
            margin: 20px 0px 20px 0px;
        }

            .prosum_box .prosum_right .pros_title {
                font-size: 18px;
                line-height: 28px;
                font-weight: bold;
                margin-bottom: 5px;
            }

    #BgImg {
        background-image: url(/Image/pic_other.jpg);
    }

    .a1 {
        color: black;
    }

        .a1:hover {
            color: #ffd800;
        }

    .a2 {
        color: black;
    }

        .a2:hover {
            text-decoration: none;
            color: darkorange;
        }

    .a3 {
        color: black;
    }

        .a3:hover {
            text-decoration: none;
            color: white;
            background-color: darkorange;
            transition-duration: 0.5s;
        }

    .divHover:hover {
        position: relative;
        top: -2px;
        box-shadow: 0px 0px 5px purple;
        transition-duration: 0.5s;
    }

    #LoginA {
        color: gray;
        text-decoration: none;
    }

        #LoginA:hover {
            color: darkorange;
            text-decoration: none;
            transition-duration: 0.5s;
        }
</style>







<div class="prosum_box">
    <dl id="routeImg" class="prosum_left">
        <dt>
            @{
                string url = "https://localhost:44388/Image/" + pic[0].PictureName;
            }
            <img alt="" class="big_img" src="@url">
        </dt>
        <dd>
            <a class="up_img up_img_disable"></a>
            @foreach (var item in pic)
            {
                <a title="" class="little_img" data-bigpic="https://localhost:44388/Image/@item.PictureName">
                    <img src="https://localhost:44388/Image/@item.PictureName">
                </a>
            }

            @*<a title="" class="little_img cur_img" data-bigpic="https://localhost:44388/Image/UIImage/2.jpg">
                    <img src="https://localhost:44388/Image/UIImage/2.jpg">
                </a>
                <a title="" class="little_img" data-bigpic="https://localhost:44388/Image/UIImage/3.jpg">
                    <img src="https://localhost:44388/Image/UIImage/3.jpg">
                </a>
                <a title="" class="little_img" data-bigpic="https://localhost:44388/Image/UIImage/4.jpg">
                    <img src="https://localhost:44388/Image/UIImage/4.jpg">
                </a>
                <a title="" class="little_img" data-bigpic="https://localhost:44388/Image/UIImage/1.jpg" style="display:none;">
                    <img src="https://localhost:44388/Image/UIImage/1.jpg">
                </a>*@

            <a class="down_img down_img_disable" style="margin-bottom: 0;"></a>
        </dd>
    </dl>
    <div class="prosum_right" style="font-size:20px">
        <div id="msg2" class="msg">
            @*<p id="title" style="font-size:24px" class="pros_title">@sellHouse.Position</p>
                <p id="introduce" class="hot">介绍： @sellHouse.Describe</p>*@
            <div id="pros_other" class="pros_other">
                <p style="margin-top:10%;">中介人 ：@leaseHouse.Contacts</p>
                <p style="margin-top:2%;">咨询电话 : @leaseHouse.ContactsPhone</p>
                <p style="margin-top:2%;">地址 ： 湖南长沙</p>
            </div>
            <div class="pros_price">
                <p class="price" id="price"></p>
                <p class="collect">
                    @if (Session["User"] == null)
                    {
                        <a id="LoginA" href="/Login/Index">登录后查看联系方式</a>
                    }
                    else
                    {
                        <span>房东电话：</span> @leaseHouse.HousePhone
                    }
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<p style="width:90%;margin-left:5%;font-size:24px;font-weight:bolder;">房屋信息</p>
<div style="width:90%;margin-left:5%;height:200px;border-radius:10px;border:1px solid #cfcfcf;">
    @*<div class="grid" style="font-size:18px">
            <div class="grid-cell-2" style="height:98px;line-height:98px;">位置： @sellHouse.Position</div>
            <div class="grid-cell-2" style="height:98px;line-height:98px;">户型： @sellHouse.HouseType</div>
            <div class="grid-cell-2" style="height:98px;line-height:98px;">面积： @sellHouse.Area ㎡</div>
        </div>
        <div class="grid" style="font-size:18px">
            <div class="grid-cell-2" style="height:98px;line-height:98px;">介绍： @sellHouse.Describe</div>
            <div class="grid-cell-2" style="height:98px;line-height:98px;">价格： @string.Format("{0:C2}", sellHouse.SellPrice)</div>
            <div class="grid-cell-2" style="height:98px;line-height:98px;">购买：全款/分期</div>
        </div>*@
    <table class="table" style="height:200px;width:80%;margin-left:10%;font-size:18px;text-align:center" border="0">
        <tr style="height:80px;line-height:80px;">
            <td>位置： @leaseHouse.Position</td>
            <td>户型： @leaseHouse.HouseType</td>
            <td>面积： @leaseHouse.Area ㎡</td>
        </tr>
        <tr style="height:80px;line-height:80px;">
            <td>介绍： @leaseHouse.Describe</td>
            <td>价格： @string.Format("{0:C2}", leaseHouse.Price)</td>
            <td>类型： 
            @if (leaseHouse.LeaseType == 0)
            {
                @:整租
            }
            else
            {
                @:合租
            }
            </td>
        </tr>
    </table>
</div>
<div>
    <p style="text-align:center;height:50px;line-height:50px;">
        <a href="javascript:history.go(-1)" class="btn btn-primary" style="width:200px;">返回</a>
    </p>
</div>

