<!DOCTYPE html>
@using _201817380227易炽昆.Models


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/buju.css" rel="stylesheet" />

    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
            text-decoration: none;
            list-style: none;
        }
    </style>

</head>
<body>
    @* 头部 *@
    <div id="head" >
        <div class="grid">
            <div class="grid-cell-1">
                <div style="height:60px;text-align:center;line-height:60px;background-color:#444444;color:white;font-size:30px;font-family:KaiTi">
                    <img src="~/Image/Logo.png" width="64" height="48" />
                </div>
            </div>
            <div class="grid-cell-4">
                <div style="height:60px;text-align:center;line-height:60px;background-color:#444444;color:white;font-size:30px;font-family:KaiTi">
                    Security房介后台管理系统
                </div>
            </div>
            <div class="grid-cell-1">
                <div style="height:60px;text-align:center;line-height:60px;background-color:#444444;color:white;font-size:30px;font-family:KaiTi">
                    @if (Session["Admin"] == null)
                    {
                        <script>alert('请登录后再访问页面'); window.location.href = "/Login/AdminLogin";</script>
                    }
                    else
                    {

                        Admin admin = Session["Admin"] as Admin;

                        <span>欢迎：</span><span>@admin.AdminName</span>
                        <a href="/Login/AdminLogin" onclick="return confirm('确定要注销吗？')" style="color:white">注销</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="body">
        <div class="grid">
            @* 左侧导航 *@
            <div class="accordion" id="accordionExample" style="width:250px;background-color:#f7f7f7;text-decoration:none;">
                <div class="card">
                    <div class="card-header" id="headingOne" style="width:250px;text-align:center;">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="glyphicon glyphicon-book"></span><span style="font-size:18px;">&nbsp;客户信息</span>
                                <span style="float:right;font-weight:bold;" class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="width:100%;text-align:center;">
                        <div class="card-body">
                            <a href="/BackStage/UserMsg"><span class="glyphicon glyphicon-book"></span>&nbsp;客户信息管理</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="glyphicon glyphicon-book"></span><span style="font-size: 18px; ">&nbsp;出租房信息</span>
                                <span style="float:right;font-weight:bold;" class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="width:100%;text-align:center;">
                        <div class="card-body">
                            <a href="/LeaseHouse/Index"><span class="glyphicon glyphicon-search"></span>&nbsp;出租房信息管理</a>
                        </div>
                        <div class="card-body">
                            <a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;单人租房管理</a>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <span style="font-size:18px">合租管理</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="glyphicon glyphicon-book"></span><span style="font-size:18px;">&nbsp;出售房信息</span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="width:100%;text-align:center;">
                        <div class="card-body">
                            <a href="#"><span class="glyphicon glyphicon-search"></span>&nbsp;出售房信息管理</a>
                        </div>
                        <div class="card-body">
                            <a href="#"><span class="glyphicon glyphicon-edit"></span>&nbsp;客户-房屋管理</a>
                        </div>
                        <div class="card-body">
                            <a href="#"><span class="glyphicon glyphicon-edit"></span>&nbsp;客户-分期管理</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span class="glyphicon glyphicon-book"></span><span style="font-size:18px;">&nbsp;管理员信息</span>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample" style="width:100%;text-align:center;">
                        <div class="card-body">
                            <a href="#"><span class="glyphicon glyphicon-search"></span>&nbsp;查询管理员信息</a>
                        </div>
                    </div>
                </div>
            </div>
            @*<div style="width:250px;height:875px;background-color:#d9edf7;overflow:auto;">
            <div class="panel-group" id="accordion" style="width:250px;">
                <div class="panel panel-info">
                    <a data-toggle="collapse" style="display:block;text-align:center;" class="panel-heading" data-parent="#accordion" href="#collapseOne">
                        <span class="glyphicon glyphicon-book"></span><span style="font-size:18px;">&nbsp;客户信息</span>
                        <span style="float:right;font-weight:bold;" class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <div id="collapseOne" style="text-align:center;" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="/BackStage/UserMsg"><span class="glyphicon glyphicon-search"></span>&nbsp;客户信息管理</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion" style="width:250px;">
                <div class="panel panel-info">
                    <a data-toggle="collapse" style="display:block;text-align:center;" class="panel-heading" data-parent="#accordion" href="#collapseTwo">
                        <span class="glyphicon glyphicon-book"></span><span style="font-size: 18px; ">&nbsp;出租房信息</span>
                        <span style="float:right;font-weight:bold;" class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <div id="collapseTwo" style="text-align:center;" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="#"><span class="glyphicon glyphicon-search"></span>&nbsp;出租房信息管理</a>
                        </div>
                        <div class="panel-body">
                            <a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;单人租房管理</a>
                        </div>
                        <div class="panel-body">
                            <a href="#">
                                <span class="glyphicon glyphicon-user">
                                </span><span class="glyphicon glyphicon-user">
                                </span>&nbsp;合租管理
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion" style="width:250px;">
                <div class="panel panel-info">
                    <a data-toggle="collapse" style="display:block;text-align:center;" class="panel-heading" data-parent="#accordion" href="#collapseThree">
                        <span class="glyphicon glyphicon-book"></span><span style="font-size:18px;">&nbsp;出售房信息</span>
                        <span style="float:right;font-weight:bold;" class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <div id="collapseThree" style="text-align:center;" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="#"><span class="glyphicon glyphicon-search"></span>&nbsp;出售房信息管理</a>
                        </div>
                        <div class="panel-body">
                            <a href="#"><span class="glyphicon glyphicon-edit"></span>&nbsp;客户-房屋管理</a>
                        </div>
                        <div class="panel-body">
                            <a href="#"><span class="glyphicon glyphicon-edit"></span>&nbsp;客户-分期管理</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordion" style="width:250px;">
                <div class="panel panel-info">
                    <a data-toggle="collapse" style="display:block;text-align:center;" class="panel-heading" data-parent="#accordion" href="#collapseFour">
                        <span class="glyphicon glyphicon-book"></span><span style="font-size:18px;">&nbsp;管理员信息</span>
                        <span style="float:right;font-weight:bold;" class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <div id="collapseFour" style="text-align:center;" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="#"><span class="glyphicon glyphicon-search"></span>&nbsp;查询管理员信息</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
            @* 右侧内容 *@
            <div class="grid-cell-6">
                <div style="height:875px;background-color:#f7f7f7;">
                    <div style="overflow:auto;width:100%;margin-left:0%;height:861px;background-color:white;border-radius:10px;">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>





    @* 底部 *@
    <div id="foot">
        <div class="grid">
            <div class="grid-cell-2">
                <div style="width:100%;line-height:40px;height:40px;text-align:center;background-color:#444444;color:white" ></div>
            </div>
            <div class="grid-cell-4">
                <div style="width:100%;line-height:40px;height:40px;text-align:center;background-color:#444444;color:white">版权所有</div>
            </div>
        </div>
        
    </div>
    @*<script type="text/javascript">
        function NowTime(){
            var time = new Date();
            var y = time.getFullYear();
            var m = time.getMonth() + 1;
            var d = time.getDate();
            var h = time.getHours();
            var mi = time.getMinutes();
            var s = time.getSeconds();
        }

        document.getElementById("clock").innerHTML = y + "年" + m + "月" + d + "日" + h + ":" + mi + ":" + s;
        setTimeout("NowTime()", 1000);
    </script>*@

</body>
</html>










@*<div class="grid">
        <div class="row">
            <div class="col-md-2">
                <div class="panel-group table-responsive" role="tablist">
                    <div class="leftMenu">
                        <a class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab" style="display:block;height:60px;line-height:60px;text-align:center;background-color:#2c2c2c;color:white;">
                            <h4>分组1</h4>
                        </a>
                        <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                            <ul class="list-group">
                                <li class="list-group-item"><a class="menu-item-left">分组项1-1</a></li>
                                <li class="list-group-item"><a class="menu-item-left">分组项1-2</a></li>
                                <li class="list-group-item"><a class="menu-item-left">分组项1-3</a></li>
                                <li class="list-group-item"><a class="menu-item-left">分组项1-4</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab">
                            <h4 class="panel-title">分组2</h4>
                        </div>
                        <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
                            <ul class="list-group">
                                <li class="list-group-item"><a class="menu-item-left">分组项1-1</a></li>
                                <li class="list-group-item"><a class="menu-item-left">分组项1-2</a></li>
                                <li class="list-group-item"><a class="menu-item-left">分组项1-3</a></li>
                                <li class="list-group-item"><a class="menu-item-left">分组项1-4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>*@
